{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MovieSync</title>
    <link rel="stylesheet" href="../../static/main/css/movie.css">
    <link rel="stylesheet" href="../../static/main/css/CSSFileForMovie.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<!-- Шапка -->
<header class="header">
    {% if user.is_authenticated %}
        <a href="{% url 'main_screen' %}" class="logo">
            <i class="fas fa-film"></i>
            <span class="logo-text">MOVIESYNC</span>
        </a>
        {% else %}

        <a href="{% url 'main_screen_no_auth' %}" class="logo">
            <i class="fas fa-film"></i>
            <span class="logo-text">MOVIESYNC</span>
        </a>

    {% endif %}

    <div class="search-bar">
        <input type="text" placeholder="Поиск фильмов..." id="searchInput">
        <button id="searchButton"><i class="fas fa-search"></i></button>
        <div class="search-results" id="searchResults"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            const searchInput = $('#searchInput');
            const searchResults = $('#searchResults');

            function performSearch(query) {
                if (query.length < 2) {
                    searchResults.removeClass('active');
                    return;
                }

                $.ajax({
                    url: '{% url "movie_search" %}',
                    data: {
                        'q': query
                    },
                    dataType: 'json',
                    success: function (data) {
                        displayResults(data.results);
                    },
                    error: function (xhr, status, error) {
                        console.error("Ошибка поиска:", error);
                    }
                });
            }

            function displayResults(results) {
                searchResults.empty();

                if (results.length === 0) {
                    searchResults.html('<div class="no-results">Ничего не найдено</div>');
                    searchResults.addClass('active');
                    return;
                }

                results.forEach(function (film) {
                    const movieElement = $(
                        `<div class="movie-result" data-movie-id="${film.id}">
                            <img src="${film.picture || '{% static "images/default_poster.jpg" %}'}" alt="${film.title}" class="movie-poster">
                            <div class="movie-info">
                                <div class="movie-title">${film.title}</div>
                                <div class="movie-rating"><i class="fas fa-star"></i>${film.rating}</div>
                            </div>
                        </div>
                        <hr style="border: none;
                         border-top: 2px solid gray;">`
                    );
                    searchResults.append(movieElement);
                });

                searchResults.addClass('active');
            }

            searchInput.on('input', function () {
                performSearch($(this).val());
            });

            $('#searchButton').on('click', function () {
                performSearch(searchInput.val());
            });

            $(document).on('click', function (e) {
                if (!$(e.target).closest('.search-bar').length) {
                    searchResults.removeClass('active');
                }
            });

            searchResults.on('click', '.movie-result', function () {
                const movieId = $(this).data('movie-id');
                window.location.href = `/${movieId}`;
            });
        });
    </script>

    <div class="user-actions">
        {% if user.is_authenticated %}
            <a href="{% url 'profile' user.id %}">
                <button class="btn btn-profile hidden"><i class="fas fa-user"></i> Кабинет</button>
            </a>
        {% endif %}
    </div>
</header>
<main class="content">
    <div class="movie-card">
        <div class="movie-poster">
            <img src="{{ film.picture.url }}" alt="Картинка">
        </div>
        <div class="movie-details">
            <h2 class="movie-title">{{ film.title }}</h2>
            <p class="movie-rating" style="color: gold">
                <i class="fas fa-star"></i> {{ film.rating }}
            </p>
            <p class="movie-tags">
                Жанры:
                {% for genre in film.genres.all %}
                    {{ genre.name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                    Жанры не указаны
                {% endfor %}
            </p>

            <p class="movie-description">
            <p>Описание:</p>
            {{ film.description }}
            </p>
            <div class="movie-buttons">
                <button class="btn-watch" id="watch-btn">Смотреть</button>
                <button class="btn-watch-together">Смотреть вместе</button>
            </div>
        </div>
        {% if user.is_authenticated %}
            {% if film in user.favorite_films.all %}
                <form action="{% url 'remove_from_favorites' film.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-watch"
                            style="background: linear-gradient(135deg, #FFD700, #FFA500);">Удалить из избранного
                    </button>
                </form>
            {% else %}
                <form action="{% url 'add_to_favorites' film.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-watch"
                            style="background: linear-gradient(135deg, #FFD700, #FFA500);">Добавить в избранное
                    </button>
                </form>
            {% endif %}
        {% else %}
            <p><a href="{% url 'accounts:login' %}">Войдите</a>, чтобы добавить фильм в избранное.</p>
        {% endif %}
    </div>

    <div id="video-container" style="margin-top: 20px; display: none;">
        {% if film.video_url %}
            {% if film.video_url|slice:":4" == "http" %}
                <!-- YouTube / онлайн -->
                <iframe width="560" height="315" src="{{ film.video_url }}" frameborder="0" allowfullscreen></iframe>
            {% else %}
                <!-- Локальный файл -->
                <video width="560" height="315" controls>
                    <source src="{% static film.video_url %}" type="video/mp4">
                    Ваш браузер не поддерживает видео.
                </video>
            {% endif %}
        {% else %}
            <p>Видео недоступно.</p>
        {% endif %}
    </div>
</main>

<script>
    const btn = document.getElementById("watch-btn");
    const videoContainer = document.getElementById("video-container");

    btn.addEventListener("click", function () {
        videoContainer.style.display = "block";
        btn.style.display = "none";
    });
</script>

{% for film in films %}
    <h3>{{ film.title }}</h3>
    <p>{{ film.description }}</p>
{% endfor %}

<!-- Подвал -->
<footer class="footer">
    <div class="footer-content">
        <p>© 2025 MovieSync</p>
        <div class="social-links">
            <a href="#"><i class="fab fa-vk"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>
            <a href="https://github.com/S-SwarB-B/MovieSync"><i class="fab fa-github"></i></a>
        </div>
    </div>
</footer>
</body>
</html>