{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MovieSync</title>
    <link rel="stylesheet" href="../../static/main/css/movie.css">
    <link rel="stylesheet" href="../../static/main/css/CSSFile.css">
    <link rel="stylesheet" href="../../static/main/css/SearchForFilmCardCSS.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<!-- Шапка -->
<header class="header">
    {% if user.is_authenticated %}
        <a href="{% url 'main_screen' %}" class="logo">
            <i class="fas fa-film"></i>
            <span class="logo-text">MOVIESYNC</span>
        </a>
        {% else %}

        <a href="{% url 'main_screen_no_auth' %}" class="logo">
            <i class="fas fa-film"></i>
            <span class="logo-text">MOVIESYNC</span>
        </a>

    {% endif %}

    <div class="search-bar-FC">
        <input type="text" placeholder="Поиск фильмов..." id="searchInput">
        <button id="searchButton"><i class="fas fa-search"></i></button>
        <div class="search-results-FC" id="searchResults"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            const searchInput = $('#searchInput');
            const searchResults = $('#searchResults');

            function performSearch(query) {
                if (query.length < 2) {
                    searchResults.removeClass('active');
                    return;
                }

                $.ajax({
                    url: '{% url "movie_search" %}',
                    data: {
                        'q': query
                    },
                    dataType: 'json',
                    success: function(data) {
                        displayResults(data.results);
                    },
                    error: function(xhr, status, error) {
                        console.error("Ошибка поиска:", error);
                    }
                });
            }

            function displayResults(results) {
                searchResults.empty();

                if (results.length === 0) {
                    searchResults.html('<div class="no-results">Ничего не найдено</div>');
                    searchResults.addClass('active');
                    return;
                }

                results.forEach(function(film) {
                    const movieElement = $(
                        `<div class="movie-result-FC" data-movie-id="${film.id}">
                            <img src="${film.picture || '{% static "images/default_poster.jpg" %}'}" alt="${film.title}" class="movie-poster-FC">
                            <div class="movie-info">
                                <div class="movie-title-FC">${film.title}</div>
                                <div class="movie-rating-FC"><i class="fas fa-star"></i>${film.rating}</div>
                            </div>
                        </div>
                        <hr style="border: none;
                         border-top: 2px solid gray;">`
                    );
                    searchResults.append(movieElement);
                });

                searchResults.addClass('active');
            }

            searchInput.on('input', function() {
                performSearch($(this).val());
            });

            $('#searchButton').on('click', function() {
                performSearch(searchInput.val());
            });

            $(document).on('click', function(e) {
                if (!$(e.target).closest('.search-bar').length) {
                    searchResults.removeClass('active');
                }
            });

            searchResults.on('click', '.movie-result-FC', function() {
                const movieId = $(this).data('movie-id');
                window.location.href = `/${movieId}`;
            });
        });
    </script>

    <div class="user-actions">
        {% if user.is_authenticated %}
            <a href="{% url 'accounts:logout' %}" class="btn btn-profile hidden">
                Выйти
            </a>
            <a href="{% url 'profile' user.id %}">
                <button class="btn btn-profile hidden"><i class="fas fa-user"></i> Кабинет</button>
            </a>
            {% else %}

            <a href="{% url 'accounts:login' %}" class="btn btn-login">
                <i class="fas fa-sign-in-alt"></i> Войти
            </a>

            <a href="{% url 'accounts:register' %}" class="btn btn-register">
                <i class="fas fa-user-plus"></i> Регистрация
            </a>
        {% endif %}
    </div>
</header>
<main class="content">
    <div class="movie-card">
        <div class="movie-poster">
            <img src="{{ film.picture.url }}" alt="Картинка">
        </div>
        <div class="movie-details">
            <h2 class="movie-title">{{ film.title }}</h2>
            <p class="movie-rating" style="color: gold">
                <i class="fas fa-star"></i> {{ film.rating }}
            </p>
            <p class="movie-tags">
                Жанры:
                {% for genre in film.genres.all %}
                    {{ genre.name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                    Жанры не указаны
                {% endfor %}
            </p>

            <p class="movie-description">
            <p>Описание:</p>
            {{ film.description }}
            </p>
            <div class="movie-buttons">
                <button class="btn-watch" id="watch-btn">Смотреть</button>
                <button class="btn-watch-together" id = "watch-btn-tgh">Смотреть вместе</button>
            </div>
        </div>
        {% if user.is_authenticated %}
            {% if film in user.favorite_films.all %}
                <form action="{% url 'remove_from_favorites' film.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-watch"
                            style="background: linear-gradient(135deg, #FFD700, #FFA500);">Удалить из избранного
                    </button>
                </form>
            {% else %}
                <form action="{% url 'add_to_favorites' film.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-watch"
                            style="background: linear-gradient(135deg, #FFD700, #FFA500);">Добавить в избранное
                    </button>
                </form>
            {% endif %}
        {% else %}
            <p><a href="{% url 'accounts:login' %}">Войдите</a>, чтобы добавить фильм в избранное.</p>
        {% endif %}
    </div>

    <div id="video-container" style="margin-top: 20px; display: none; text-align: center;">
        {% if film.video_url %}
            {% if film.video_url|slice:":4" == "http" %}
                <!-- YouTube / онлайн -->
                <iframe width="1020" height="630" src="{{ film.video_url }}" style="background: var(--darker-bg);" frameborder="0" allowfullscreen></iframe>
            {% else %}
                <!-- Локальный файл -->
                <video width="1020" height="630" style="background: var(--darker-bg);" controls>
                    <source src="{% static film.video_url %}" type="video/mp4">
                    Ваш браузер не поддерживает видео.
                </video>
            {% endif %}
        {% else %}
            <p>Видео недоступно.</p>
        {% endif %}
    </div>
</main>

<script>
    const watchBtn = document.getElementById("watch-btn");
    const watchTogetherBtn = document.getElementById("watch-btn-tgh");
    const videoContainer = document.getElementById("video-container");

    watchBtn.addEventListener("click", function () {
        videoContainer.style.display = "block";
        watchBtn.style.display = "none";
        document.getElementById("chat-container")?.remove();
    });

    watchTogetherBtn.addEventListener("click", function () {
        videoContainer.style.display = "block";
        watchTogetherBtn.style.display = "none";
        watchBtn.style.display
        
        const chatContainer = document.createElement("div");
        chatContainer.id = "chat-container";
        chatContainer.innerHTML = `
            <div style="background: #333; padding: 10px; margin-top: 20px;">
                <h3>Чат для совместного просмотра</h3>
                <div id="chat-messages" style="height: 200px; overflow-y: scroll; margin-bottom: 10px;"></div>
                <div class="form-group" style="display: flex; gap: 10px;">
                    <input type="text" id="chat-input" placeholder="Введите сообщение..." 
                           class="chat-input-field" style="flex-grow: 1;">
                    <button id="send-message" class="btn-watch">Отправить</button>
                </div>
            </div>
        `;
        videoContainer.appendChild(chatContainer);
        
        // Инициализация чата после создания элементов
        initChat();
    });

    function initChat() {
        const chatInput = document.getElementById('chat-input');
        const sendButton = document.getElementById('send-message');
        const chatMessages = document.getElementById('chat-messages');
        
        if (!chatInput || !sendButton || !chatMessages) return;
        
        function addMessage(message) {
    const messageDiv = document.createElement('div');
    messageDiv.className = 'chat-message'; 
    messageDiv.textContent = message;
    
    chatMessages.appendChild(messageDiv);
    chatMessages.scrollTop = chatMessages.scrollHeight; 
}
        
        sendButton.addEventListener('click', function() {
            const message = chatInput.value.trim();
            if (message) {
                addMessage(message);
                chatInput.value = '';
            }
        });
        
        chatInput.addEventListener('keypress', function(e) {
            if (e.key === 'Enter') {
                sendButton.click();
            }
        });
    }
</script>

{% for film in films %}
    <h3>{{ film.title }}</h3>
    <p>{{ film.description }}</p>
{% endfor %}

<!-- Подвал -->
<footer class="footer">
    <div class="footer-content">
        <p>© 2025 MovieSync</p>
        <div class="social-links">
            <a href="#"><i class="fab fa-vk"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>
            <a href="https://github.com/S-SwarB-B/MovieSync"><i class="fab fa-github"></i></a>
        </div>
    </div>
</footer>
</body>
</html>