{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MovieSync</title>
    <link rel="stylesheet" href="{% static 'main/css/CSSFile.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
<div class="main-container">
  <div class="auth-modal">
    <div class="modal-content">
      <h2>Добро пожаловать!</h2>
      <p>Вы успешно зарегистрировались на сайте.</p>
      <a href="{% url 'main_screen' %}" class="btn-submit" style="width: auto; padding: 0.8rem 1.5rem; margin-top: 1.5rem; display: inline-block;">
        Вернуться на главную
      </a>
    </div>
  </div>
</div>
  <footer class="footer">
    <div class="footer-content">
      <p>© 2025 MovieSync</p>
      <div class="social-links">
        <a href="#"><i class="fab fa-vk"></i></a>
        <a href="#"><i class="fab fa-telegram"></i></a>
        <a href="https://github.com/S-SwarB-B/MovieSync"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </footer>
</body>
</html>
