{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MovieSync</title>
    <link rel="stylesheet" href="{% static 'main/css/CSSFile.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
<div class="main-container">
<div class="auth-modal" style="display: flex;">
    <div class="modal-content">
        <a href="{% url 'main_screen_no_auth' %}" class="close-modal" title="Закрыть">&times;</a>
        <h2>Регистрация</h2>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">

            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="error">{{ form.password.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="error">{{ form.password2.errors }}</div>
                {% endif %}
            </div>

            <button type="submit" class="btn-submit">Зарегистрироваться</button>
        </form>
    </div>
</div>
</div>
<footer class="footer">
    <div class="footer-content">
        <p>© 2025 MovieSync</p>
        <div class="social-links">
            <a href="#"><i class="fab fa-vk"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>
            <a href="https://github.com/S-SwarB-B/MovieSync"><i class="fab fa-github"></i></a>
        </div>
    </div>
</footer>

</body>
</html>
